.App {
  text-align: center;
}
.main-box {
  background-color: rgb(8, 5, 5);
  min-height: 103vh;
}

.small-box{
  background-color: rgb(41, 41, 41);
  border-radius: 25px;
  padding: 15px;
  color: rgb(167, 167, 167);
}

p{
  font-size: smaller;
}
